{% if metadata.all %}
    {% for metadata_item in metadata.all %}
        {% if metadata_item.key == 'licence_url' %}
            <p>The licence you agreed to when you made your application is available <a href="{{ metadata_item.value }}" target="_blank">here</a>.</p>
         
            {% if metadata_item.value == 'https://artefacts.ceda.ac.uk/licences/missing_licence.pdf' %}
                <p><B>WARNING</B> this is not a valid licence.</p>
            {% endif %}

        {% endif %}
    {% endfor %}
    <hr />
    <p>When you submitted your application, you supplied the following information:</p>
    {% for metadata_item in metadata.all %}
        {% if metadata_item.key != 'licence_url' %}
            <h5>{{ metadata_item.get_friendly_name }}:</h5> <p><i>{{metadata_item.value}}</i></p>
        {% endif %}
    {% endfor %}
    <hr />
{% endif %}
