{% extends 'jasmin_services/my_services/service_list.html' %}

{% block page_title %}My Archive Access{% endblock %}

{% block service_list_top %}
    <div class="alert alert-info text-center">
            <div style="margin-bottom: 0.4em;">List of resources for which you have requested access for. These can be filtered to show present and past access and revoked/rejected applications. Expand for further details for application/resource details.</div>
    </div>
{% endblock %}

{% block no_services %}
    <div class="alert alert-warning text-center">
        {% if preserved_filters and checked %}
            No matching services.
        {% elif preserved_filters %}
            No filters selected.
        {% else %}
            <div style="margin-bottom: 0.5em;"><i class="fa fa-fw fa-exclamation-triangle"></i> You have not registered for any dataset application yet</div>
            <div style="margin-bottom: 0.4em;"><i class="fa fa-fw fa-exclamation-triangle"></i> To apply, start by searching the data catalogue</div>
        {% endif %}
    </div>
{% endblock %}
