asgiref==3.3.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
Django==3.1.5
django-bootstrap3==14.2.0
django-classy-tags==2.0.0
django-cookie-law==2.0.4
django-countries==7.0
django-crispy-forms==1.10.0
django-markdown-deux==1.0.5
django-picklefield==3.0.1
django-polymorphic==3.0.0
django-widget-tweaks==1.4.8
-e git+https://github.com/cedadev/fwtheme-django.git@38bd08d6572fe5f17ab02a3fc420a63d651b97e7#egg=fwtheme_django
-e git+https://github.com/cedadev/fwtheme-django-ceda-serv.git@c1ac0bd232bc5410a70d2a60fb5b4ec0098e34b6#egg=fwtheme_django_ceda_serv
idna==2.10
importlib-metadata==1.7.0
-e git+https://github.com/cedadev/jasmin-django-utils.git#egg=jasmin_django_utils
-e git+https://github.com/cedadev/jasmin-ldap.git@ad21e8f7d8d82e33e5bf48820bf5f9e630a53d8d#egg=jasmin_ldap
-e git+https://github.com/cedadev/jasmin-ldap-django.git@0374f2f9146279d5dd9b2a19b628d7da76b663f9#egg=jasmin_ldap_django
-e git+https://github.com/cedadev/jasmin-metadata.git@e48b03597f96ec9494719b8103103c603832b47c#egg=jasmin_metadata
-e git+https://github.com/cedadev/jasmin-notifications.git@794316ae3473eb950f2c22cc5d6438054f84d53f#egg=jasmin_notifications
-e git+https://github.com/rhysrevans3/jasmin-services.git@97d0938e05b6cd0fcd05726cf4bfd35d982f027a#egg=jasmin_services
josepy==1.5.0
ldap3==2.8.1
markdown2==2.3.10
mozilla-django-oidc==1.2.4
psycopg2-binary==2.8.6
pyasn1==0.4.8
pycparser==2.20
pyOpenSSL==20.0.1
pytest-runner==5.2
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
Unidecode==1.1.2
urllib3==1.26.2
zipp==3.4.0