{% extends "fwtheme_django/layout.html" %}
{% load static notifications %}


{% block head_js_extra %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
{% endblock %}

{% block stylesheets_extra %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css" />

<link href="{% static "account/css/tweaks.css" %}" rel="stylesheet">
<!-- TODO: remove when included in base theme -->
<link rel="shortcut icon" type="image/png" href="{% static 'account/favicon.ico' %}"/>
{% endblock %}

{% block content_header %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 right">
                {% block breadcrumbs %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content_panel %}
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block content %}{% endblock content%}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content_panel %}

{% block tail_js_extra %}
    <!-- Load bootstrap features on all pages -->
    <script src="{% static "account/js/bootstrap-features.js" %}"></script>

    <!-- Load google analytics -->
    <script src="{% static "account/js/google-analytics.js" %}"></script>

    <!-- Load beacon and identify the user if they are logged in -->
    <script src="{% static "account/js/beacon.js" %}"></script>
    <script>
        {% if user.is_authenticated %}
            window.Beacon('identify', { name: '{{ user.get_full_name }}', email: '{{ user.email }}' });
        {% else %}
            window.Beacon('logout');
        {% endif %}
    </script>

    <!-- Load Juqery -->
    <script src="https://code.jquery.com/jquery-3.7.0.slim.js" integrity="sha256-7GO+jepT9gJe9LB4XFf8snVOjX3iYNb0FHYr5LI1N5c=" crossorigin="anonymous"></script>
{% endblock %}
