{% extends "layout_generic.html" %}
{% load ceda_user_tags %}

{% block head_title %}{% block page_title %}{% endblock %} | CEDA Services Portal{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">CEDA Services</a></li>
            {% block service_breadcrumbs %}{% endblock%}
        </ol>
    </nav>
{% endblock %}

{% block navbar_options %}
    <li class="nav-item">
      <a class="nav-link" href="https://catalogue.ceda.ac.uk">Search Catalogue</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://data.ceda.ac.uk">Get Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://help.ceda.ac.uk">Help</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://archive.ceda.ac.uk/tools">Tools</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://arrivals.ceda.ac.uk">Deposit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://ceda.ac.uk/blog/">News</a>
    </li>
{% endblock navbar_options %}

{% block footer %}
    {{ block.super }}
    <script type="text/javascript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script>
    <script type="text/javascript">window.Beacon('init', '0151e3db-1a06-48d6-a030-d1c605683be9')</script>
{% endblock footer %}