{% extends "layout.html" %}

{% block content_panel %}
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        {% include "account/includes/sidebar.html" %}
                    </div>
                    <div class="col-md-9">
                        {% block content %}{% endblock content%}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content_panel %}
