{% extends "fwtheme_django/layout.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Profile" %}{% endblock %}
{% block page_title %}
<h1>{% trans "Profile" %}</h1>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<!--   <p>Current user: {{ user.email }}</p>
  <p>Current user: {{ user.groups }}</p> -->
  <form action="{% url 'oidc_logout' %}" method="post">
    <input class="btn btn-primary" type="submit" value="Logout">
  </form>
{% else %}
  <a class="btn btn-primary" href="{% url 'oidc_authentication_init' %}">Login</a>
{% endif %}

{% endblock %}
