{% extends 'jasmin_services/role_apply.html' %}
{% load widget_tweaks markdown_deux_tags %}

{% block breadcrumbs %}
<ol class="breadcrumb bg-primary">
    <li class="breadcrumb-item">
        <a class="breadcrumb-link text-light" style="text-decoration: none;" href="{% url 'jasmin_services:my_services'%}">
            CEDA Services
        </a>
    </li>
    <li class="breadcrumb-item">
        <a class="breadcrumb-link text-light" style="text-decoration: none;" href="{% url 'jasmin_services:service_list' category=role.service.category.name %}">
            {{ role.service.category }}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a class="breadcrumb-link text-light" style="text-decoration: none;" href="{% url 'jasmin_services:service_details' category=role.service.category.name service=role.service.name %}">
            {{ role.service.name }}
        </a>
    </li>
    <li class="breadcrumb-item active">Apply</li>
</ol>
{% endblock %}
