{% extends 'jasmin_services/service_users.html' %}

{% block head_title %}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb bg-primary">
    <li class="breadcrumb-item">
        <a class="breadcrumb-link text-light" style="text-decoration: none;" href="{% url 'jasmin_services:my_services'%}">
            CEDA Services
        </a>
    </li>
    <li class="breadcrumb-item">
        <a class="breadcrumb-link text-light" style="text-decoration: none;" href="{% url 'jasmin_services:service_list' category=service.category.name %}">
            {{ service.category }}
        </a>
    </li>
    <li class="breadcrumb-item active">{{ service.name }}</li>
</ol>
{% endblock %}
