{% extends 'jasmin_services/service_details.html' %}
{% load markdown_deux_tags country_tags %}

{% get_country user=request.user as user_country %}

{% block breadcrumbs %}
<ol class="breadcrumb bg-primary">
    <li class="breadcrumb-item">
        <a class="breadcrumb-link text-light" style="text-decoration: none;" href="{% url 'jasmin_services:my_services'%}">
            CEDA Portal
        </a>
    </li>
    <li class="breadcrumb-item active">{{ service.name }}</li>
</ol>
{% endblock %}

{% block page_title %}<code>{{ service }}</code>{% endblock %}

