{% extends 'layout_sidebar.html' %}

{% block page_title %}FTP Account{% endblock %}
{% block head_title %}FTP Account{% endblock %}

{% block service_breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">FTP Account</li>
{% endblock %}

{% block content %}
    <div class="alert alert-warning">
        The CEDA FTP service is currently unavailable and no new FTP passwords can be issued at this time.<br />Please <a href="https://help.ceda.ac.uk/article/5100-archive-access-tokens">see this CEDA help article on scripted interactions with access tokens</a> for more information about bulk downloads for archive data.
    </div>

{% endblock %}
